 <div class="text-center">
  <div class="py-4 border-b-2 ">
    <h1 class="text-center text-4xl font-bold py-6">Welcome to LuxCart, your one-stop shop for all your needs!</h1>
    <p class="text-xl">LuxCart is a local Saskatoon-based E-Commerce site ran via Ruby on Rails</p>
  </div>
  <div class="py-8 text-xl">
    <h1 class="text-4xl py-4 font-bold ">Here at LuxCart, we have a variety of products and services</h1>
    <p>Feel free to browse our <a href="/shop">Shop</a>, or take a look at our <a href="Services">Services</a> Page</p>
    <p>We also support Google logins, with more features to come.</p>
  </div>
  <div class="text-center text-xl">
    <h1 class="text-4xl font-bold py-4">Who We Are</h1>
    <p>LuxCart is a passion product created by myself, Ethan Trebish in order to learn the ins and outs of Ruby on Rails, Ruby, and Tailwind CSS</p>
    <p>This has been a fun journey developing this website, and I hope you look forward to future projects</p>
  </div>
</div>