<div class="text-center">
    <h1 class="text-xl font-bold">Reach out to us</h1>
    <div>
        <a href="mailto:synchromaster21@gmail.com">
            <p class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Email: CS@LuxCart.ca</p>    
        </a>
    </div>
</div>

<div class="max-w-sm mx-auto">
    <form action="/contact" method="post">
        <div class="mb-4">
            <label for="Name" class="block text-gray-700 font-bold mb-2">Name</label>
            <input type="text" name="Name" id="Name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div class="mb-4">
            <label for="Email" class="block text-gray-700 font-bold mb-2">Email</label>
            <input type="email" name="Email" id="Email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div class="mb-4">
            <label for="Subject" class="block text-gray-700 font-bold mb-2">Subject</label>
            <input type="text" name="Subject" id="Subject" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div class="mb-4">
            <label for="Message" class="block text-gray-700 font-bold mb-2">Message</label>
            <input type="text" name="Message" id="Message" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div class="mt-5">
            <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Submit</button>
        </div>
    </form>
</div>